/* Định dạng cho danh sách có checkbox */
.checklist {
  list-style-type: none;
  padding-left: 0;
}

.checklist li {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.checklist input[type="checkbox"] {
  margin-right: 10px;
  transform: scale(1.2);
}

.checklist .checked {
  text-decoration: line-through;
  color: #999;
}

.checklist li span {
}

/* Định dạng cho danh sách có số (ordered list) */
ol {
  list-style-type: decimal;
  padding-left: 20px;
  margin-bottom: 16px;
}

ol li {
  margin-bottom: 8px;
}

/* Định dạng cho danh sách không có số (unordered list) */
ul {
  list-style-type: disc;
  padding-left: 20px;
  margin-bottom: 16px;
}

ul li {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 8px;
}

/* Tùy chỉnh chung */
ul,
ol {
  margin-top: 0;
  margin-bottom: 16px;
}

p,
h1 {
  margin-top: 0;
}

li {
  margin-left: 20px;
}
