/* CSS cho hiệu ứng chuyển cảnh zoom */
.zoom-enter {
  opacity: 0;
  transform: scale(0.9);
}

.zoom-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: opacity 500ms, transform 500ms;
}

.zoom-exit {
  opacity: 1;
  transform: scale(1);
}

.zoom-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 500ms, transform 500ms;
}
.custom-width {
  width: calc(100% - 210px);
}
.logoHeader {
  display: none;
}
.custom-menuBottom {
  display: none;
}
.custom-header {
  justify-content: end;
}
@media (max-width: 1200px) {
  .hidden-custom {
    display: none;
  }
  .custom-width {
    width: calc(100%);
  }
  .custom-content {
    width: 100% !important;
  }
  .custom-menuBottom {
    display: block;
  }
  .logoHeader {
    display: block;
  }
  .custom-header {
    justify-content: space-between;
  }
}
.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 4px;
  background: #6f6adc;
  border-radius: 100px;
  transform-origin: 0%;
  z-index: 100;
  background-color: #6f6adc;
}
